#!/usr/bin/env bash

export FLASK_APP=manager.py
export FLASK_ENV=development
export FLASK_DEBUG=0

export PRODUCTION_HOST="http://127.0.0.1:5000"
export UPLOAD_FOLDER="./.tmp"

export MATHPIX_APP_ID="secret"
export MATHPIX_APP_KEY="secret"

python3 -m flask run